---
import { Image } from "astro:assets";
const { project } = Astro.props;
---

<section
  class="h-full p-4 md:p-8 grid md:grid-cols-[2fr_1fr] gap-2 md:gap-12 items-start"
>
  {
    project.photo ? (
      <Image
        width={250}
        height={187}
        src={project.photo}
        alt={project.photo}
        class="w-full"
        loading="lazy"
      />
    ) : (
      <div class="min-w-[250px] max-w-[250px] h-[187px] hidden md:block" />
    )
  }
  <div class="flex flex-col justify-start items-start">
    <h2 class="text-3xl sm:text-4xl font-mono font-semibold">{project.title}</h2>
    <p class="text-base sm:text-lg uppercase font-light">{project.creator}</p>
    ⇥
    <p class="text-sm sm:text-base font-mono font-light md:my-4 text-balance">
      {project.description}
    </p>
    <a
      class="underline underline-offset-4 hover:bg-red hover:text-white uppercase text-base font-semibold hover:no-underline"
      href={project.ctaLink || "#"}
      target="_blank">{project.cta}</a
    >
  </div>
</section>
